@import './../../styles/globals.scss';

.btn {
  font-size: 1em;
  background-color: transparent;
  color: white;
  position: relative;
  border: solid 1px white;
  padding: 0.4rem 1rem;
  z-index: 1;

  @include border_radius-2xl;

  &:hover {
    background-color: white;
    border: solid 1px white;
    color: black;
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $COLOR_GRAY_100;
    top: 0;
    left: 0;
    z-index: -1;
    scale: 2;
    opacity: 0;

    transition: all 300ms;
    @include border_radius-2xl;
  }

  &:active::before {
    scale: 1;
    opacity: 0.5;
    transition: 0s;
  }

  &--active {
    border-color: $COLOR_RED_500;
    background-color: $COLOR_RED_500;
  }
}
