@use 'globals';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: globals.$COLOR_GRAY_100;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}
